.centerItem {
  text-align: center;
}

.textLeft{
    text-align: left;
}

.mr-5 {
  margin: 5px 5px;
}


.textBold{
    font-weight: bold;
}

.justifyContent{
    display: flex;
    justify-content: space-between;
}


.logosize{
    height: 50px;
}